<section class="author">

    <div class="row">
        <h2 class="author__header text-center">
            Сергей Присяжный, автор курса "Хватит страдать!"
        </h2>
        <h3 class="author__sub text-center">
            Дипломированный психолог-практик, психотерапевт со стажем работы 25 лет.
        </h3>
    </div>
    <div class="row author__speech">
        <div class="large-4 columns">
            <img src="i/prisyazhniy.png" alt=""/>
        </div>
        <div class="large-8 columns">
            <div class="author__speech-balloon">
                <div class="author__speech-balloon__head">
                    Нужно отпустить! Разлюбить! И забыть!

                </div>
                <p class="author__speech-balloon__text">
                    Я уверяю вас, что есть очень простой и эффективный метод, помогающий
                    в полной мере завершить внутри человека прошлые отношения и вернуться
                    к полноценной счастливой жизни. И, как правило, для этого требуется не более двух-трех недель работы. Я настолько уверен в эффективности своего курса,
                    что даю 100% гарантию его результата, а именно, после его прохождения
                    вы завершите прошлые отношения с близким человеком, начнете жить полноценной жизнью в настоящем, и сможете строить новые счастливые отношения в будущем.

                </p>

            </div>
        </div>

    </div>
</section>