<section class="wall">
    <div class="row">
        <div class="large-12 columns xy-center">
            <h1 class="wall__head">Как быстро избавиться<br/>от несчастной любви?</h1>
            &nbsp;
            <h2 class="wall__subhead">Если не удается забыть...</h2>
            <p class="wall__text">
                <strong>Уникальный курс по возвращению к нормальной и счастливой жизни.</strong>
                <br/>
                Автор курса: Сергей Присяжный. Психолог-практик с 25-летним стажем.
                
            </p>
            <a href="#" class="large round alert button">ОСТАВИТЬ ЗАЯВКУ НА КУРС</a>
        </div>
    </div>
</section>