<section class="wall">
    <div class="row">
        <div class="left small-6 columns">

            <img src="i/logo.png" class="wall-clock" alt=""/>
            <div class="clock-text clearfix">
                <p class="wall-text1">Закрытый клуб инвесторов</p>
                <p class="wall-text2">инвестиции в доходную недвижимость</p>
            </div>
            <h1 class="wall-maintext">
                Закрытый клуб инвесторов в недвижимость
            </h1>
            <p class="wall-maintextsmall">Закрытый клуб, где обсуждают и инвестируют в самую доходную недвижимость на рынке.</p>

            <div class="phonegreen">
                <img src="i/clock.png" alt=""/>
                <p class="phonegreen-text">Звонок по России бесплатный</p>
                <p class="phonegreen-num">+7 (495) 123-45-67</p>
            </div>

        </div>
        <div class="right small-6 columns">

        </div>
        <img src="i/man.png" alt="" class="wall-man"/>
    </div>
</section>