<nav class="main-nav">
    <div class="row">
        <div class="small-3 columns logo">
            <img src="i/logo.png" alt=""/>
        </div>
        <div class="small-6 columns menu">
            <span class="menu-item"><a class="menu-item__link" href="#">Программа курса</a></span>
            <span class="menu-item"><a class="menu-item__link" href="#">Отзывы</a></span>
            <span class="menu-item"><a class="menu-item__link" href="#">Заказать</a></span>
            <span class="menu-item"><a class="menu-item__link" href="#">Гарантии</a></span>
            <span class="menu-item"><a class="menu-item__link" href="#">Контакты</a></span>
        </div>
        <div class="small-3 columns phone">

            <div class="phone-num">+7 (499) 322 8062<br/>
                <a class="phone-text">Заказать звонок</a>

            </div>
        </div>
    </div>
</nav>