<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="container">
        @@include('./header-menu.tpl.html')

        @@include('./header-wall.tpl.html')

        @@include('./form1.tpl.html')

        @@include('./for.tpl.html')

        @@include('./what.tpl.html')

        @@include('./meeting.tpl.html')

        @@include('./form2.tpl.html')

        @@include('./prevmeet.tpl.html')

        @@include('./results.tpl.html')

        @@include('./contacts.tpl.html')

        @@include('./map.tpl.html')

        @@include('./footer.tpl.html') 

    </div>

    <script src="./js/vendor.js"></script>
    <script src="./js/client.js"></script>
</body>
</html>