<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class="container">
        @@include('./header-menu.tpl.html')

        @@include('./header-wall.tpl.html')

        @@include('./questions.tpl.html')

        @@include('./cry.tpl.html')

        @@include('./inside.tpl.html')

        @@include('./author.tpl.html')

        @@include('./now.tpl.html')

        @@include('./program.tpl.html')

        @@include('./warning.tpl.html')

        @@include('./pay.tpl.html')

        <!--@@include('./map.tpl.html')-->

        <!--@@include('./footer.tpl.html')-->

        <img src="i/Home_renatus.png" alt="" style="position:absolute;top:0;left:50%;transform: translate(-50%); opacity:.4;"/>
    </div>

    <script src="./js/vendor.js"></script>
    <script src="./js/client.js"></script>
</body>
</html>