<section class="inside">
    <div class="row">
        <div class="large-6 columns">
            <h2 class="inside__head">
                Что происходит <br />внутри Вас?
            </h2>
            <p class="inside__text1">
                Что такое взаимоотношения? В самом вопросе и кроется ответ – это взаимное отношение партнеров друг к другу. Это не только Ваше отношение и желание быть вместе, но и ответная реакция.</p>
            <p class="inside__text1">
                И самое печальное, как бы Вы не старались восстановить отношения, вернуть любимого, помириться, если Вы ему безразличны – Ваши попытки безнадежны. И чем больше Вы пытаетесь вернуть любимого человека, тем больше он отдаляется.</p>
            <p class="inside__text1">
                Вы сами понимаете, что становитесь назойливой мухой, но оправдываете эту назойливость как желание наладить отношения.</p>

            <p class="green__text">
                Остановитесь!<br/>
                Хватит унижаться!<br/>
                Решение есть!<br/>
            </p>
        </div>
        <div class="large-6 columns">
            <div class="inside__right-block">
                <h2 class="inside__head2">
                    Беспомощность
                </h2>
                <p class="inside__text2">
                    Обычно расставание сопровождается чувством тоски, беспомощности, потерей уверенности и веры в себя, потерей смысла в жизни и безвыходностью. Это не вынужденные обстоятельства, это последствия наших мыслей и реальности, которую мы формируем.
                </p>
            </div>

            <div class="inside__right-block">
                <h2 class="inside__head2">
                    Одиночество
                </h2>
                <p class="inside__text2">
                    За время отношений Вы привыкаете к присутствию другого
                    человека в Вашей жизни. Вы привыкаете к заботе или привыкаете
                    ее оказывать, Вы забываете, что до встречи с этим человеком Вы были сами и чувствовали себя хорошо, сейчас Вы вновь сами, но Вам невыносимо сложно забыть любимого.                </p>
            </div>

            <div class="inside__right-block">
                <h2 class="inside__head2">
                    Все мысли о нем
                </h2>
                <p class="inside__text2">
                    Вы вынуждены в очень короткие сроки отвыкнуть от того, к кому привыкали месяцами/годами. Вам сложно перестать думать о том, кто был последнее время всегда рядом. И больше всего Вас раздражает отсутствие возможности (!!!) вернуть любимого человека.                </p>
            </div>
        </div>
    </div>
</section>