<section class="program">
    <div class="row">
        <h2 class="program__head text-center">
            Курс &laquo;Хватит страдать!&raquo; &mdash; <br/>пошаговая работа с Вашей проблемой
        </h2>
        <div class="program__subh text-center">
            Курс составлен из 4 этапов. На каждом этапе вы будете смотреть видео-урок о том,
            что конкретно и пошагово нужно делать. Сделав это и получив промежуточный результат
            Вы будете смотреть и делать следующий урок.
        </div>
    </div>
    <div class="row">

        <h2 class="program_subh2">Подробная программа курса:</h2>

    </div>

    <div class="row">
        <div class="large-3 columns">
            <img src="i/program.png" alt="" class="awards"/>
        </div>
        <div class="program-wrapper large-9 columns">
            <div class="program__text-head">
                Как нейтрализовать прошлые отношения и сделать так,
                чтобы они больше не цепляли в настоящем
            </div>
            <div class="program__text">
                <p>

                    На первом этапе курса вы узнаете, как сделать так, чтобы любые мысли о близком человеке перестали вас задевать. Фактически вы все время думаете о близком человеке, который от вас ушел. Вы думаете, как забыть любимого, но эти мысли, как правило, приносят только страдания, вызывая сильные чувства.
                </p>
                    <h3>Цель первого этапа:</h3>
                    <p>Нейтрализовать любые мысли о близком человеке, сделать, так, чтобы думая о нем вы чувствовали себя совершенно спокойно и нейтрально, как если бы это происходило с кем-то другим. На профессиональном языке это означает обрести состояние внутренней диссоциации от этого человека.
</p>
                    <h3>Что Вы получите в результате?</h3>
                    <p>Уйдут душевная боль и страдания. Появится волшебное чувство облегчения, как у человека, который долго испытывал сильные душевные страдания, и наконец, они прекратились. После этого этапа сразу станет значительно легче, что создаст условия и веру для успешной дальнейшей работы. Технологии, которые Вы получите, Вы сможете использовать во всех желаемых ситуациях до конца своей жизни. Большинство, тех, кто их использовал, были поражены их простотой, скоростью и эффективностью. Они работают практически с первого раза, почти мгновенно и фактически не имеют возврата.




                </p>
            </div>

        </div>
    </div>
    <div class="row program__footer">
        Вы сможете думать об этом человеке совершенно спокойно и доброжелательно нейтрально. А если вы попрактикуетесь в их применении и в других жизненных ситуациях, то очень быстро обретете чувство ассертивности (толстокожести) и душевной непробиваемости, что, я уверен, очень пригодится вам для современной жизни.
    </div>
</section>