<section class="warning">
    <div class="warning__overlay">
    </div>

    <div class="row">
        <div class="warning__head text-center">
            <strong>Внимание!</strong> Есть случаи, когда курс Вам не поможет!
        </div>
    </div>
    <div class="row author__speech">
        <div class="large-4 columns">
            <img src="i/prisyazhniy.png" alt="" class="pris"/>
        </div>
        <div class="large-8 columns">
            <div class="author__speech-balloon">
                <div class="author__speech-balloon__head">
                    Сергей Присяжный, автор курса "Хватит страдать!"


                </div>
                <p class="author__speech-balloon__text">

                    За двадцать пять лет я видел такие ситуации, что многие даже представить
                    себе не могут, что так бывает. Практически в каждом случае удавалось помочь
                    в решении данной проблемы. Исключение составляют буквально несколько ситуаций, в которых я помогать просто не готов.
                </p>

            </div>
        </div>
    </div>

</section>
<div class="warning2">
    <div class="row">
        <div class="large-12 columns">
            <h3 class="warning2__head">
                В каких случаях работа над своим состоянием с помощью курса Сергея Присяжного может не дать желаемых результатов:


            </h3>
            <p class="warning2__listitem">

                &mdash; Если вы ищете способы приворотов, магии, колдовства <span class="acom">&mdash; я такими вещами не занимаюсь и никому не рекомендую.</span>
</p>
            <p class="warning2__listitem">
                &mdash; Если вы думаете, что я что-то буду делать за вас. <span class="acom">МОИ МЕТОДЫ РАБОТЫ &mdash; ЭТО НЕ ГИПНОЗ! (закрыли глазки, послушали, открыли и
                все готово). Я РАБОТАЮ МЕТОДАМИ НЛП и другими современными психотехнологиями. А это значит, Я буду вас вести пошагово, говоря, что и как
                конкретно ВЫ должны сделать, чтобы вернуть вашего любиого, но делать всё вы должны будете сами. Под моим непосредственным руководством,
                НО САМИ. Я буду управлять вашими мозгами и делать изменения через вас, но вы должны будете мне в этом помогать, не мешать.</span>
                </p>
            <p class="warning2__listitem">


                &mdash; Если у вас есть, какая либо психическая патология <span class="acom">(сильное влечение к алкоголю, наркотикам, игровая зависимость, или какое
                либо психическое заболевание. Я могу помогать и в этих случаях, но, как правило, здесь нужна уже другая консультация и непосредственная работа,
                т.к. придется попутно решать много других проблем и учитывать целый ряд специфических условий. <em>Такое решение принимается только после
                проведения предварительной консультационной встречи.</em></span>
                </p>



        </div>
    </div>
</div>
<div class="warning3">
    <div class="row">
        <p class="warning2__footer">

            Во всех остальных ситуациях моя работа реально поможет Вам. Нужно будет просто пройти работу и поэтапно выполнять именно то, что я там говорю конкретно по шагам.
        </p>
    </div>
</div>