<section class="what">
    <div class="row">
        <h2 class="what__maintext vertical40 text-center">
            Закрытый клуб инвесторов <br />в недвижимость &mdash;
            место, где изучают по шагам успех
            <span class="what__maintext--red">лучших</span>
            инвесторов <br />в недвижимость РФ и в мире!
        </h2>
    </div>
    <div class="row">
        <div class="large-4 columns text-center">
            <div class="what__circle">
                <p class="what__circle--bold">Высокая<br />доходность</p>
                <img src="i/redline.png" alt=""/>

                <p>от 25% в год на капитал</p>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="what__circle">
                <p class="what__circle--bold">Быстрая капитализация</p>
                <img src="i/redline.png" alt=""/>

                <p>12-24 месяца</p>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="what__circle">
                <p class="what__circle--bold">Высокая капитализация</p>
                <img src="i/redline.png" alt=""/>

                <p>минимум от 50%</p>
            </div>
        </div>
    </div>

</section>